.fa-3x {
  margin: 5px 10px;
}

.title-footer {
  font-size: 30px;
  color: white;
}

.footer {
  color: white;
}

.footer:hover {
  color: white;
}
.title-foot {
  padding-left: 200px;
}

.title-foote {
  padding-left: 220px;
}
